

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}